.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 64px;
    left: 0px;
    top: 0px;
    width: 224px;
    height: -webkit-fill-available;
    z-index: 30;
    overflow: initial;
    transition: padding-top 0.2s ease 0s, width 0.2s ease 0s;
}

.sidebar {
    position: absolute;
    top: 64px;
    left: 0px;
    height: calc(100% - 64px);
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-top: 16px;
    width: 224px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: #303030;
    border-right: 2px solid rgba(133, 133, 133, 0.1);
    transition: padding-top 0.2s ease 0s, width 0.2s ease 0s;
}

.sidebar-toggle-btn {
    display: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #212529;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: -12px;
    transform: scale(1, 1);

    svg {
        fill: #fff;
        flex-shrink: 0;
    }
}

.sidebar-logo {
    padding: 0px 22px;
    transition: padding 0.2s ease 0s;

    > a {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 32px;

        .mobile-icon {
            width: 38px;
        }

        .desktop-icon {
            width: 121px;
            display: block;
            margin-left: 8px;
        }
    }
}

.sidebar-menu {
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0px 16px;
    transition: padding-left 0.4s ease 0s, padding-right 0.4s ease 0s;
    overflow: auto;

    .menu-item {
        position: relative;
        cursor: pointer;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px 12px;
        font-size: 14px;
        color: #fff;
        border-radius: 8px;
        background: transparent;
        height: 48px;
        flex-shrink: 0;
        transition: background .3s;

        > a {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .menu-icon {
            fill: #fff;
            transition: fill 0.3s ease 0s;
            flex-shrink: 0;
            margin-right: 8px;
        }

        .menu-title {
            color: inherit;
            -webkit-box-flex: 1;
            flex-grow: 1;

            & + svg {
                fill: #fff;
                transition: fill 0.3s ease 0s;
            }
        }

        &.warning {
            color: rgb(255, 219, 28);

            svg {
                fill: rgb(255, 219, 28);
            }
        }
    }
    
    > .active, .menu-item:hover {
        background: #444;
    }
    
    > * {
        margin-bottom: 5px;
    }
}

.sidebar-wrapper.mini-sidebar {
    width: 74px;
}

.sidebar-wrapper.mini-sidebar .sidebar {
    width: 74px;
    border-right: 2px solid rgba(133, 133, 133, 0.1);
}

.submenu {
    overflow: hidden;
    border-color: rgba(133, 133, 133, 0.1);
    border-style: solid;
    border-width: 1px 0px;

    .submenu-item {
        position: relative;
        cursor: pointer;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px 24px 0px 44px;
        font-size: 12px;
        color: #fff;
        border-radius: 8px;
        background: transparent;
        height: 32px;
        flex-shrink: 0;
    }
}

.mini-sidebar {
    .desktop-icon, .menu-title, .badge {
        display: none !important;
    }
    .sidebar-menu {
        padding: 0 12px;
    }
    .sidebar-logo {
        padding: 0 18px;
    }
    .submenu {
        height: 0;
        border: 0;
    }
}

.sidebar-active {
    .sidebar-wrapper {
        width: 224px;
        overflow: initial;
    }

    .sidebar {
        width: 224px;
        border-right: 2px solid rgba(133, 133, 133, 0.1);
    }

    .header {
        background: #212529;
    }
}

.sidebar-active .sidebar-overlay {
    height: calc(100% - 64px);
    top: 64px;
    position: fixed;
    left: 0px;
    width: 100%;
    background-color: rgb(10, 22, 43);
    transition: opacity 0.4s ease 0s;
    opacity: 0.55;
    z-index: 10;
    pointer-events: initial;
}

@include mq(968px) {
    .sidebar-logo {
        display: none;
    }

    .sidebar-wrapper {
        padding-top: 0px;
        overflow: visible;
        height: 100vh;
        width: 224px;

        &:hover .sidebar-toggle-btn {
            opacity: 1;
        }
    }

    .sidebar {
        padding-top: 17px;
        top: 0px;
        height: 100%;
        width: 224px;
        border-right: 2px solid rgba(133, 133, 133, 0.1);
    }

    .sidebar-toggle-btn {
        display: flex;
        opacity: 0;
        transition: opacity 0.3s ease 0s;
    }

    .sidebar-logo {
        display: block;
    }

    .sidebar-wrapper.mini-sidebar {
        width: 74px;
    }

    .mini-sidebar .sidebar {
        width: 74px;
        border-right: 2px solid rgba(133, 133, 133, 0.1);
    }
}

@include mq(969px, max) {
    .sidebar-menu {
        overflow: auto;
    }
}